import { Component } from '@angular/core';

@Component({
  selector: 'app-<%= dasherize(entityName) %>',
  templateUrl: './<%= dasherize(entityName) %>.component.html',
  styleUrls: ['./<%= dasherize(entityName) %>.component.css']
})
export class <%= classify(entityName) %>Component {
  fields = <%= JSON.stringify(fields, null, 2) %>;
}