.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  border-right: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
  mat-nav-list {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  color: var(--mat-sys-primary);
  background: var(--mat-sys-primary-container);
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  position: sticky;
  top: 0;
  z-index: 1;
}

.router-outlet {
  margin: 10px;
}
