/* You can add global styles to this file, and also import other style files */

$mobile: 370px;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* The spacer class is used to create a flexbox spacer which will take up the rest of the space in the parent element.
   It is used in the sidenav and toolbar to push the content to the right side of the screen. */
.spacer {
  flex: 1 1 auto; // flex-grow: 1, flex-shrink: 1, flex-basis: auto
}

.error {
  color: var(--mat-sys-error);
}

a {
  color:  var(--mat-sys-primary);
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0px;
}

mat-form-field {
  width: 100%;
}

.row-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.noMarginPadding{
  padding: 0px!important;
  margin: 0px!important;
}


.actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  flex-direction: column;
  margin-top: 15px;
  @media (min-width: $mobile) {
    flex-direction: row;
  }
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 5px;
  margin-top: 15px;
}

.formfit {
  max-width: 700px;
  width: 90%;
  padding: 1rem; // Opcional para um espaçamento interno agradável
}



